{% load navactive %}

<!DOCTYPE html>
<html>
    <head>
        <title>Nick's House - {% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
        <style>
            {% block style %}
            {% endblock %}
        </style>

        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        <!-- Desktop/Tablet menu -->
        <div class="nav navbar hidden-phone">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Nick's Apartment</a>
                    <ul class="nav">
                        <li class="{% navactive request '^/$' %}"><a href="/">Home</a></li>
                        <li class="{% navactive request '^/brewhouse/' %}">
                            <a href="{% url 'brewhouse-display' %}">Brewhouse</a>
                        </li>
                        {% if perms.weight.can_use %}
                        <li>
                            <a href="{% url 'weight-dashboard' %}">Weight</a>
                        </li>
                        {% endif %}
                        <!--
                        <li class="disabled {% block nav_class_reminders %}{% endblock %}"><a href="#">Reminders</a></li>
                        <li class="disabled {% block nav_class_lights %}{% endblock %}"><a href="#">Lights</a></li>
                        <li class="disabled {% block nav_class_temperature %}{% endblock %}"><a href="#">Temperature</a></li>
                        -->
                    </ul>
                    <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                            <li class="navbar-text"><span class="text-success">Howdy, {{ user }}! &nbsp;</span></li>
                            {% if user.is_staff %}
                                <li><a href="/admin/">Admin</a></li>
                            {% endif %}
                            <li class="{% navactive request '^/accounts/profile/' %}"><a href="{% url 'accounts.views.profile' %}">Profile</a></li>
                            <li><a href="/accounts/logout/">Log out</a></li>
                        {% else %}
                            <li><a class="{% navactive request '^/accounts/signup/' %}" href="/accounts/signup/">Sign up</a></li>
                            <li><a class="{% navactive request '^/accounts/login/' %}" href="/accounts/login/">Log in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Phone menu -->
        <div class="visible-phone">
            <h1>Nick's Apartment</h1>

            <ul class="nav nav-tabs nav-stacked">
                <li class="{% navactive request '^/$' %}"><a href="/">Home</a></li>
                <li class="{% navactive request '^/brewhouse/' %}">
                    <a href="{% url 'brewhouse-display' %}">Brewhouse</a>
                </li>
                <!--
                <li class="disabled"><a href="#">Reminders</a></li>
                <li class="disabled"><a href="#">Lights</a></li>
                <li class="disabled"><a href="#">Temperature</a></li>
                -->
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a href="/admin/">Admin</a></li>
                    {% endif %}
                    <li class="{% navactive request '^/accounts/profile/' %}"><a href="{% url 'accounts.views.profile' %}">Profile</a></li>
                    <li><a href="/accounts/logout/">Log out</a></li>
                {% else %}
                    <li><a class="{% navactive request '^/accounts/signup/' %}" href="/accounts/signup/">Sign up</a></li>
                    <li><a class="{% navactive request '^/accounts/login/' %}" href="/accounts/login/">Log in</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>

        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>

        {% block js_include %}
        {% endblock %}

        <script>
            $(document).ready(function() {
                // Set success messages to hide in 5 seconds
                $('.alert-success').delay(5000).hide('blind', 300);
            });

            {% block js %}
            {% endblock %}
        </script>
    </body>
</html>
