{% extends "base.html" %}

{% block title %}Weight Tracking{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Nick's Life</a> <span class="divider">/</span></li>
    <li class="active">Weight Tracking</li>
</ul>

<ul class="nav nav-tabs nav-stacked">
    {% if connected %}
        <li><a href="{% url 'weight.views.disconnect_withings' %}">Disconnect Withings account</a></li>
        <li><a href="{% url 'weight.views.update' %}">Force a data update</a></li>
        <li><a href="{% url 'weight.views.new' %}">Manually log your weight</a></li>

        <li><a href="{% url 'weight.views.n_days' 7 %}">7-Day Graph</a></li>
        <li><a href="{% url 'weight.views.n_days' 30 %}">30-Day Graph</a></li>
        <li><a href="{% url 'weight.views.n_days' 90 %}">90-Day Graph</a></li>
        <li><a href="{% url 'weight.views.n_days' 365 %}">1-Year Graph</a></li>
    {% else %}
        <li><a href="{% url 'weight.views.connect_withings' %}">Connect Withings account</a></li>
    {% endif %}
</ul>

{% if connected %}
    <h3>Weight Data</h3>

    <div id="weight_chart" style="width:100%; height:300px;"></div>

    {% if entries %}
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Weight (lbs)</th>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry.when }}</td>
                        <td>{{ entry.weight }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}

{% endblock %}

{% block js_include %}
<script src="{{ STATIC_URL }}js/chart.js"></script>
{% endblock %}

{% block js %}
fetch_url = "{% url 'weight.views.highcharts_n_days' 7 %}";
chartOptions.chart.renderTo = "weight_chart";
chartOptions.title.text = "Weight - Last 7 Days";
chart = new Highcharts.Chart(chartOptions);
{% endblock %}