{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block style %}
    form {
        max-width: 350px;
        padding: 10px 30px 30px;
        margin: auto;
        background-color: #f5f5f5;
        border: 1px solid #e5e5e5;
    }
{% endblock %}

{% block content %}
{% if form.errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Your username and password didn't match. Please try again.
    </div>
{% endif %}
<form method="post" action="{% url django.contrib.auth.views.login %}">
    <h1>Log in</h1>
    <br />
    <p>
        <a class="btn btn-block btn-info" href="{% url socialauth_begin 'google-oauth2' %}">Sign in with Google</a>
        <a class="btn btn-block btn-info" href="{% url socialauth_begin 'twitter' %}">Sign in with Twitter</a>
        <a class="btn btn-block btn-info" href="{% url socialauth_begin 'github' %}">Sign in with GitHub</a>
    </p>
    
    <br />
    
    <h3>Or sign in with a password:</h3>
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" maxlength="30" /><br />
    <input type="password" name="password" placeholder="Password" /><br />

    <input class="btn btn-primary" type="submit" value="Log In" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
