{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block style %}
    form {
        max-width: 350px;
        padding: 10px 30px 30px;
        margin: auto;
        background-color: #f5f5f5;
        border: 1px solid #e5e5e5;
    }
    
    .helptext {
        font-size: smaller;
    }
{% endblock %}

{% block content %}
<form method="post" action="{% url accounts.views.profile %}">

    <h2>Edit Profile</h2>
    {% csrf_token %}

    {% for field in form %}
        <p>
            <h5>{{ field.label }}</h5>
            <div>{{ field }}</div>
            
            {% if field.name == "email" %}
                <span class="helptext">It's a really good idea to set this in case you forget your password.</span>
            {% endif %}
            
            {% if field.errors %}
                <div class="alert alert-error">
                    <font size="-1">
                    {{ field.errors }}
                    </font>
                </div>
            {% endif %}
        </p>
    {% endfor %}
    
    <h3>Website Associations</h3>
    <ul>
        <li>
            Google - 
            {% if associations.google_oauth2 %}
                <a href="{% url socialauth_disconnect 'google-oauth2' %}">Disconnect</a>
            {% else %}
                <a href="{% url socialauth_associate_begin 'google-oauth2' %}">Connect</a>
            {% endif %}
        </li>
        <li>
            Twitter - 
            {% if associations.twitter %}
                <a href="{% url socialauth_disconnect 'twitter' %}">Disconnect</a>
            {% else %}
                <a href="{% url socialauth_associate_begin 'twitter' %}">Connect</a>
            {% endif %}
        </li>
        <li>
            GitHub - 
            {% if associations.github %}
                <a href="{% url socialauth_disconnect 'github' %}">Disconnect</a>
            {% else %}
                <a href="{% url socialauth_associate_begin 'github' %}">Connect</a>
            {% endif %}
        </li>
    </ul>

    
    <br />
    <input class="btn btn-primary" type="submit" name="update" value="Update" />
    <input class="btn btn-danger" type="submit" name="delete_user" value="Delete Me" onclick="return confirm('Are you sure you want to delete your account?');"/>
    
    <input type="hidden" name="next" value="{{ next }}" />
    
    
    
</form>
{% endblock %}
