{% extends "brewhouse/base.html" %}

{% block title %}Brewhouse History{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Nick's Apartment</a> <span class="divider">/</span></li>
    <li><a href="{% url brewhouse-display %}">Brewhouse</a> <span class="divider">/</span></li>
    <li class="active">History</li>
</ul>

<h2>Brewhouse History</h2>

<table class="table">
    <tr>
        <th>Beer</th>
        <th>Brewed on</th>
        <th>Ready on</th>
    </tr>
    {% for beer, brewed, ready in history %}
    <tr>
        <td><a href="{% url beer-show beer.id %}">{{ beer.name }}</a></td>
        <td>{{ brewed.date }}</td>
        <td>{{ ready.date|default:"Unknown" }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
