{% extends "base.html" %}

{% block title %}Brewhouse{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Nick's Apartment</a> <span class="divider">/</span></li>
    <li class="active">Brewhouse</li>
</ul>

{% if user_can_request or user.is_staff %}
<h2>Links</h2>
<ul class="nav nav-pills">
    {% if user_can_request %}
        <li><a href="{% url 'brewhouse.views.list_reservations' %}">Your beer reservations</a></li>
    {% endif %}
    {% if user.is_staff %}
        <li><a href="{% url 'beer-new' %}">Add a beer</a></li>
    {% endif %}
</ul>
{% endif %}


<div class="row">
<div class="span6">
<h2>What's on Tap</h2>
<table class="table">
    <tr>
        <th>Tap</th>
        <th>Beer</th>
        <th>Beer Style</th>
        <th>Brewed On</th>
    </tr>
    {% for tap in taps %}
    <tr>
        <td>{{ tap.number }}</td>
        <td>
            {% if tap.beer %}
            <a href="{% url 'beer-show' tap.beer.id %}">{{ tap.beer.name }}</a>
            {% else %}
            None
            {% endif %}
        </td>
        <td>{{ tap.beer.style|default:"Unknown" }}</td>
        <td>{{ tap.beer.brew_date|default:"Unknown" }}</td>
    </tr>
    {% endfor %}
</table>
</div>
<div class="span6">
<h2>What's Coming Up</h2>
<table class="table">
    <tr>
        <th>Beer</th>
        <th>Current State</th>
        <th>Estimated Finish</th>
    </tr>
    {% for beer, state, brewed, ready in beers %}
    <tr>
        <td><a href="{% url 'beer-show' beer.id %}">{{ beer.name }}</a></td>
        <td>{{ state|default:"Unknown" }}</td>
        <td>{{ ready }}</td>
    </tr>
    {% endfor %}
</table>
</div>
</div>

<h2>Last 10 Beers</h2>

<ul class="nav nav-pills">
    <li><a href="{% url 'brewhouse-history' %}">View Full History</a></li>
</ul>


<table class="table">
    <tr>
        <th>Beer</th>
        <th>Brewed on</th>
        <th>Ready on</th>
    </tr>
    {% for beer, brewed, ready in history %}
    <tr>
        <td><a href="{% url 'beer-show' beer.id %}">{{ beer.name }}</a></td>
        <td>{{ brewed.date }}</td>
        <td>{{ ready.date|default:"Unknown" }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
