{% extends "base.html" %}

{% block title %}Brewhouse{% endblock %}

{% block content %}
<a href="/" style="font-size:smaller;">&larr; Back to main menu</a>

<h1>Nick's Brewhouse</h1>

{% if user.is_staff %}
<h2>Menu</h2>
<ul>
    <li><a href="{% url beer-new %}">Add a beer</a></li>
</ul>
{% endif %}

<h2>What's on Tap</h2>
<table border='1'>
    <tr>
        <th>Tap</th>
        <th>Beer</th>
        <th>Beer Style</th>
    </tr>
    {% for tap in taps %}
    <tr>
        <td>{{ tap.number }}</td>
        <td>
            {% if tap.beer %}
            <a href="{% url beer-show tap.beer.id %}">{{ tap.beer }}</a>
            {% else %}
            None
            {% endif %}
        </td>
        <td>{{ tap.beer.style|default:"Unknown" }}</td>
    </tr>
    {% endfor %}
</table>

<h2>What's Coming Up</h2>
<table border='1'>
    <tr>
        <th>Beer</th>
        <th>Current State</th>
        <th>Brewed On</th>
        <th>Estimated Finish</th>
    </tr>
    {% for beer, state, brewed, ready in beers %}
    <tr>
        <td><a href="{% url beer-show beer.id %}">{{ beer }}</a></td>
        <td>{{ state }}</td>
        <td>{{ brewed }}</td>
        <td>{{ ready }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Last 10 Brewed Beers</h2>

<p>
    <a href="{% url brewhouse-history %}" style="font-size:smaller;">View Full History</a>
</p>

<table border="1">
    <tr>
        <th>Beer</th>
        <th>Brewed on</th>
        <th>Ready on</th>
    </tr>
    {% for beer, brewed, ready in history %}
    <tr>
        <td><a href="{% url beer-show beer.id %}">{{ beer.name }}</a></td>
        <td>{{ brewed.date }}</td>
        <td>{{ ready.date|default:"Unknown" }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
