{% extends "base.html" %}

{% block title %}Beer - {{ beer.name }}{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Nick's Apartment</a> <span class="divider">/</span></li>
    <li><a href="{% url 'brewhouse-display' %}">Brewhouse</a> <span class="divider">/</span></li>
    <li class="active">{{ beer.name }}</li>
</ul>

<div class="page-header">
    <h1>{{ beer.name }}</h1>
</div>


<ul class="nav nav-pills nav-stacked">
    {% if can_reserve %}
    <li><a href="{% url 'brewhouse.views.new_reservation' beer.id %}">Reserve a growler of this beer</a></li>
    {% endif %}
    {% if user.is_staff %}
        <li><a href="{% url 'admin:brewhouse_beer_change' beer.id %}">Edit this beer in admin</a></li>
    
        {% if not beer_gone %}
            <li><a href="{% url 'brewhouse.views.beer_gone' beer.id %}" onclick="return confirm('Are you sure you want to mark this beer as gone?');">Mark this beer as gone</a></li>
        {% endif %}
    {% endif %}
</ul>


<h2>Stats</h2>
<ul>
    <li>Style: {{ beer.style|default:"Unknown" }}</li>
    <li>
        Recipe: 
        {% if beer.recipe_url %}
            <a href="{{ beer.recipe_url }}">{{ beer.recipe_url }}</a>
        {% else %}
        Unknown
        {% endif %}

    </li>
</ul>

{% if events %}
<h2>Activity</h2>
<ul>
{% for event in events %}
    <li>
        {{ event.resolve_etype }} on {{ event.date }}
    </li>
{% endfor %}
</ul>
{% endif %}

{% if future_events %}
<h2>Planned Activity</h2>
<ul>
{% for event in future_events %}
    <li>
        {{ event.resolve_etype }} on {{ event.date }}
        {% if user.is_staff %}
            (<a href="{% url 'event-complete' event.id %}" onclick="return confirm('Are you sure you want to set this event as done today?');">Did this today</a>)
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
